@charset "UTF-8";
.table-list .table{margin-top:50px; margin-bottom: 80px;}
.table-list .table tr th {color:#fff; text-align: center;background-color:#44b272; }
.table-list .search {background: #d7dbe5; border-radius:5px; border: 1px solid #fff;}
.table-list .paging{margin-top:30px; margin-bottom: 100px;}





