<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.order.dao.ItemOrderMapper">  

<!-- 주문등록 -->
<insert id="insertOrder">
	INSERT INTO 
		item_buy_hist(ibh_idx,i_num,ibh_quan,ph_idx,user_id,ibh_rent_num,ibh_phone,ibh_nm,ibh_rent_nc,ibh_return_nc,ibh_rent_day,ibh_return_day" 
			VALUES (item_buy_hist_seq.NEXTVAL,?,?,?,?,?,?,?,?,?,?,?)
</insert>
</mapper>