<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.item.cart.dao.ItemCartMapper">  
	<select id="selectCartList" parameterType="map"
	                        resultType="itemCartCommand">
	      SELECT
	      	*
	      FROM (SELECT
	      		  a.*,
	      		  rownum rnum
	      	 	FROM 
	      	 	  item_cart c
	      	 	JOIN
	      	 	  item_info i 
	      	 	  	ON 
	      	 	  c.i_num = i.i_num 
	      	 	WHERE
	      	 	  c.user_id = #{user_id}
	      	 	ORDER BY i.i_num ASC"
	      	 	
	      	 	)   
	                
	</select>
	<select id="selectRowCount" parameterType="map"
	                            resultType="integer">
	
	
	</select>                            

</mapper>
